<html>
  <head>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{message}}
      <hr />

      <!-- v-if + 动画过渡 -->
      <button @click="seen = !seen">toggle seen</button>
      <transition name="fade">
        <span v-if="seen"> now you can see me.</span>
      </transition>
      <hr />

      <!-- loop -->
      <ol>
        <li v-for="item in items">{{item}}</li>
      </ol>
      <hr />

      <!-- click 事件 -->
      <button v-on:click="reverseMessage">Reverse Message</button>
      <hr />

      <!-- v-model -->
      <input v-model="message" />
      <hr />

      <!-- v-bind 指令-->
      <span v-bind:title="pageLoadInfo"> 鼠标悬停查看title信息 </span>
    </div>
    <script src="index.js"></script>
  </body>
</html>
